/* COVER AREA*/

.hide {
background-size: 200px;
left: 0px;
top: 300px;
height: 300px;
width: 200px;
padding-bottom: 0px;
border: 1px solid transparent;
background-color: rgba(1, 1, 1, 1);
background-position: center 50% !important;
background-repeat: no-repeat !Important;
display: block !important;
position: fixed;
visibility: hidden;
opacity: 0;
}

/* PREVIEW MSG ABOVE COVERS
Remove content: "preview"; to remove the PREVIEW text.
Change the text in quotations after content to what you want it to say above your cover pic.
Top and width controls the position of the text.
*/

.hide:before {
background: none repeat scroll 0 0 transparent;
color: white;
padding-bottom: 5px;
position: absolute;
text-align: center;
top: 0px;
width: 250px;
}

/* OTHER SETTINGS */
:hover + .hide {
visibility: visible;
opacity: 1;
}